{% load static %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <img alt="logotipo" height="80%"
                 src="{% static 'assets/images/logo-IFRO.png' %}">
        </div>
        <div class="col-3">
            <h2><a href="{% url 'home' %}">Meu Blog</a></h2>
            <p>Este é o meu blog</p>
            {% if user.is_anonymous %}
                <p>
                    <a class="btn btn-success" href="{% url 'cadusuario' %}">Cadastrar</a>
                    <a class="btn btn-primary" href="{% url 'loginuser' %}">Logar</a>
                </p>
            {% else %}
                <p>Usuário: {{ user.username }}</p>
                <p><a href="{% url 'logoutuser' %}" class="btn btn-danger">Sair</a></p>
            {% endif %}
        </div>
    </div>
</div>